body {
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #c0d4fe;
    color: white;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appContainer {
    display: flex;
}

.selectedIcon {
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedIcon span {
    margin-left: 10px;
}

.iconTrigger {
    cursor: pointer;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background-color: #3182ce; /* Blue */
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.iconTrigger:hover {
    background-color: #63b3ed; /* Light Blue */
}

.text-white {
    color: #ffffff; /* White */
}
