.iconPicker {
    position: relative;
    display: inline-block;
}

.iconPickerModal {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconPickerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2b6cb0;
    border-bottom: 1px solid #cbd5e0;
}

.iconPickerHeader h4 {
    margin: 0;
    color: #ffffff;
}

.iconPickerHeader button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.iconPickerGrid {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: rgb(67, 67, 67);
    flex: 1;
    overflow-y: auto;
}

.iconPickerGrid div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #38a169; */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iconPickerGrid div:hover {
    background-color: #68d391;
}

.iconPickerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2b6cb0;
    border-top: 1px solid #cbd5e0;
}

.iconPickerFooter button {
    background-color: #3182ce;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iconPickerFooter button:disabled {
    background-color: #a0aec0;
    cursor: not-allowed;
}

.iconPickerFooter button:not(:disabled):hover {
    background-color: #63b3ed;
}

.iconPickerFooter span {
    color: #ffffff;
}
